/* ========== CSS Mothatheme
/* ========== I. Global Styles
/* ========== II. Hero Section Styles
/* ========== III. Filters Section Styles 
/* ========== IV. Photo Catalog Section Styles 
/* ========== V. Button "Load More" Styles 
/* ========== VI. Contact Modal 
/* ========== VII. Elementor Menu mobile
/* ========== VIII. Responsive style (mobile)



/* ========== I. Global Styles ========== */


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style H1 pour desktop */
h1 {
    font-family: 'Space Mono', monospace;
    font-size: 96px;
    font-style: italic;
    font-weight: 700;
    line-height: 142.18px;
    text-align: left;
}

/* Style H2 pour desktop */
h2 {
    font-family: 'Space Mono', monospace;
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
}

/* Style H3 pour desktop */
h3 {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.66px;
    letter-spacing: 0.1em;
    text-align: left;
}

/* Description photo desktop */
.photo-description {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.73px;
    letter-spacing: 0.1em;
    text-align: left;
}

/* Style pour les paragraphes */
p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
}


/* ========== II. Hero Section Styles ========== */

/* La section du Hero occupe toute la largeur et la hauteur de l'écran */
.hero-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* 100% de la hauteur de la fenêtre */
    overflow: hidden;
}

/* Lien de la section Hero pour rendre toute la zone cliquable */
.hero-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

/* L'image en background couvre toute la section Hero */
.hero-background {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Image titre centrée dans le Hero avec un z-index plus grand */
.hero-background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}



/* ========== III. Filters Section Styles ========== */

/* Section des filtres */
.filters-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1148px;
    margin: auto;
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    gap: 30px;
}

/* Style commun pour les filtres */
.filter-item select {
    width: 260px; 
    height: 42px; 
    padding: 11px 18px; 
    border-radius: 8px; 
    border: 1.3px solid #B8BBC2; 
    background-color: #FFFFFF; 
    font-size: 14px; 
    justify-content: space-between;
}

#filters-form {
    display: flex;
}

/* Alignement des filtres */
.filters-section .filter-item:first-child {
    align-self: flex-start; 
}

.filters-section .filter-item:nth-child(2) {
    margin-left: 45px; 
}

.filters-section .filter-item:last-child {
    margin-left: 40%; 
}

/* Ajustement pour retirer l'opacité incorrecte */
.filter-item select {
    opacity: 1; 
}




/* ========== IV. Photo Catalog Section Styles ========== */
/* Conteneur du catalogue photo */
#photo-catalog {
    width: 1148px;
    margin: 0 auto;
    padding: 20px 0;
}

/* Conteneur des miniatures */
.thumbnail-container-accueil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* Styles pour chaque miniature */
.custom-post-thumbnail {
    width: 564px;
    height: 495px;
    position: relative;
    overflow: hidden;
}

/* Miniatures */
.thumbnail-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.custom-post-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay */
.thumbnail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-post-thumbnail:hover .thumbnail-overlay {
    opacity: 1;
}

.overlay-content {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
}

/* Icônes */
.icon-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo-reference, .photo-category {
    position: absolute;
    font-size: 14px;
    color: white;
}

.photo-reference {
    bottom: 30px;
    left: 30px;
}

.photo-category {
    bottom: 30px;
    right: 30px;
}

/* Icône fullscreen */
.icon-fullscreen {
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.custom-post-thumbnail:hover .icon-fullscreen {
    display: block;
}

/* Styles de la lightbox */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lightbox__image {
    max-width: 80%;
    max-height: 80%;
    z-index: 1010; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

/* Contrôles de la lightbox */
.lightbox__controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10;
}

.lightbox__prev, .lightbox__next {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px; /* Ajout d'espace autour des boutons */
    cursor: pointer;
}

.lightbox__prev:hover, .lightbox__next:hover {
    color: #ffcc00; /* Changement de couleur au survol */
}

.lightbox__close {
    position: absolute;
    right: 10%;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Info de la lightbox */
.lightbox__info {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25%;
    color: white;
    font-family: "Space Mono", monospace;
}

.lightbox__reference {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.lightbox__category {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
}


/* ========== V. Button "Load More" Styles ========== */

/* Conteneur pour le bouton Charger plus */
.view-all-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* Bouton "Charger plus" avec styles fixes */
#load-more-posts {
    width: 272px;
    height: 50px;
    padding: 8px 15px;
    gap: 10px;
    border-radius: 2px 0 0 0;
    border: none;
    background-color: #D8D8D8;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* Effet de survol pour le bouton */
#load-more-posts:hover {
    opacity: 0.8;
}



/* ========== VI. Contact Modal ========== */

/* Style général du conteneur du formulaire */
.custom-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

/* Image du haut du formulaire */
.form-header-image {
    width: 885.96px;
    height: 106.05px;
    top: 18px;
    left: -141.49px;
    gap: 0px;
    opacity: 0px;
}

/* Style commun pour les champs texte et email */
.custom-input {
    width: 100%;
    max-width: 263px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
    box-sizing: border-box;
}

/* Champ message avec hauteur plus grande */
.custom-textarea {
    width: 100%;
    max-width: 263px;
    height: 210px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
    box-sizing: border-box;
}

/* Bouton de soumission "ENVOYER" */
.custom-submit {
    width: 263px;
    height: 50px;
    margin: 0 auto;
    display: block;
    padding: 8px 15px;
    border-radius: 2px 0 0 0;
    border-style: hidden;
    background-color: #D8D8D8;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    font-family: 'Space Mono';
    font-weight: 400;
}

/* Styles pour la modale */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show {
    display: flex;
    opacity: 1;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
    width: 600px;
    max-width: 90%;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Styles généraux pour la page single photo */
.main-content-post {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ========== VII. Contact Modal (Single) ========== */

/* Styles pour la deuxième modale */

#contactModal {
    display: none; /* Cacher la modale par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Overlay semi-transparent */
}

.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    background-color: white;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.modal-single {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Désactive les interactions tant que la modale est fermée */
}

.modal-single.show {
    opacity: 1;
    pointer-events: auto; /* Permet les interactions lorsque la modale est visible */
}

.modal-content-single {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
    width: 600px;
    max-width: 90%; /* Limite la largeur de la modale sur les petits écrans */
    margin: 0 auto; /* Centrer la modale sur l'axe horizontal */
}


.modal-overlay-single {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.modal-content-single {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
    width: 600px;
    max-width: 90%;
}

.modal-close-single {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}



/* ========== VIII. Page single photo ========== */


/* Styles généraux pour la page single photo */
.main-content-post {
    width: 100%;
    max-width: 1200px; 
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

/* Conteneur principal pour les informations de la photo */
.photo-single-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
}

.photo-single-container .left-half {
    width: 50%;
}
.photo-single-container .right-half{
    width: 50%;
}

.photo-single-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Styles pour les détails de la photo (Moitié gauche) */
.left-half {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.left-half h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.left-half p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 8px;
}

/* Border de séparation */

.left-half {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.secondary-container {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

/* Conteneur secondaire (contact et miniature) */
.secondary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 118px;
    max-width: 1200px;
    margin-bottom: 40px;
}

.secondary-container p {
    font-size: 1.2rem;
    color: #555;
    text-align: right;
}

/* Bouton de contact */
.open-contact-modal-single {
    width: 272px;
    height: 50px;
    padding: 8px 15px 8px 15px;
    gap: 10px;
    border-radius: 2px 0px 0px 0px;
    border-style: hidden;
    opacity: 0px;
    cursor: pointer;
    text-align: center;
    transition: opacity 0.3s ease;
    font-family: 'Space Mono';
    font-size: 12px;
    font-weight: 400;
    line-height: 17.77px;
}

/* Miniature et flèches de navigation */
.miniature-photo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.miniature-photo img {
    width: 81px;
    height: 71px;
    margin-bottom: 10px;
}

.navigation-arrows {
    display: flex;
    justify-content: space-between;
    width: 70px;
    gap: 15px;
}

.navigation-arrows img {
    width: 24px;
    height: 10px;
    cursor: pointer;
}

/* Section des photos similaires */
.related-photos {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.main-content-post h3 {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Space Mono';
    font-weight: 400;
    line-height: 26.66px;
    letter-spacing: 0.1em;
    text-align: left;
}

.related-photos .related-photo-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.related-photos .related-photo-item {
    width: calc(50% - 15px);
}

.related-photos .related-photo-item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

/* Ajustements pour la version mobile */
@media (max-width: 768px) {
    .photo-single-container {
        flex-direction: column;
    }

    .photo-single-container .left-half,
    .photo-single-container .right-half {
        width: 100%;
    }

    .secondary-container {
        flex-direction: column;
        text-align: center;
    }

    .miniature-photo {
        margin-top: 20px;
    }

    .related-photos .related-photo-item {
        width: 100%;
    }

    .related-photos .related-photo-item img {
        width: 100%;
        height: auto;
    }
}

/* ========== VII. Elementor Menu mobile ========== */

/* Masque l'icône du menu burger sur les écrans plus grands que 768px */
#elementor-menu-toggle {
    display: none;
}

/* Affiche l'icône du menu burger sur les écrans de moins de 768px (mobile uniquement) */
@media screen and (max-width: 768px) {
    #elementor-menu-toggle {
        display: block;
        z-index: 999;
    }
}

/* Cache le menu normal sur mobile */
@media screen and (max-width: 768px) {
    nav.elementor-nav-menu {
        display: none;
    }
}

/* Affiche le menu normal sur tablette et desktop */
@media screen and (min-width: 769px) {
    nav.elementor-nav-menu {
        display: flex;
    }

    #elementor-menu-toggle {
        display: none;
    }
}

/* Pour s'assurer que le menu prend toute la hauteur lors de l'activation en mobile */
.elementor-nav-menu--dropdown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 998;
}

/* Centrer les liens du menu en mobile */
.elementor-nav-menu--dropdown ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elementor-nav-menu--dropdown li {
    margin-bottom: 20px;
    font-size: 24px;
}

/* Empêche le menu de déplacer la page en mobile */
body.elementor-nav-menu--open {
    overflow: hidden;
}


/* ========== VIII. Responsive Styles ========== */

/* Appliquer les styles mobiles à partir de 768px de large */
@media (max-width: 768px) {

    /* Styles H1 pour mobile */
    h1 {
        font-family: 'Space Mono', monospace;
        font-size: 27.59px;
        font-style: italic;
        font-weight: 700;
        line-height: 40.86px;
        text-align: left;
    }

    /* Styles H2 pour mobile (réduire la taille si nécessaire) */
    h2 {
        font-family: 'Space Mono', monospace;
        font-size: 36px;
        font-style: italic;
        font-weight: 400;
        line-height: 40px;
        text-align: left;
    }

    /* Styles H3 pour mobile */
    h3 {
        font-family: 'Space Mono', monospace;
        font-size: 18px;
        font-weight: 400;
        line-height: 26.66px;
        letter-spacing: 0.1em;
        text-align: left;
    }

    /* Styles pour les paragraphes */
    p {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        text-align: left;
    }

    /* Ajustement du conteneur du catalogue photo */
    #photo-catalog {
        width: 317.66px;
        margin: 0 auto;
    }

    /* Conteneur des miniatures pour affichage d'une photo par ligne */
    .thumbnail-container-accueil {
        flex-direction: column;
        align-items: center;
    }

    /* Styles pour chaque miniature de photo */
    .custom-post-thumbnail {
        width: 100%;
        margin-top: 25px;
        height: 278.8px;
    }

    /* Ajustement des miniatures */
    .custom-post-thumbnail img {
        width: 100%;
        height: auto;
    }
}